@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	width: 100vw;
	height: 18vh;
}

header div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12vh;
	background-color: skyblue;
	font-size: 32px;
	font-weight: bold;
}

header .gnb {
	display: flex;
	gap: 30px;
	padding-left: 30px;
	align-items: center;
	height: 6vh;
	background-color: bisque;
	font-weight: bold;
	font-size: 20px;
}

.bold {
	font-weight: bold;
}

.title {
	text-align: center;
	line-height: 180px;
}

.content {
	line-height: 50px;
}

.content form {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

table tr td {
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	height: 8vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: mediumturquoise;
}